* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt8 {
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.col-three {
    width: calc(100% / 3);
}

.col-two {
    width: 50%;
}

.col-one {
    width: 100%
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.text-white {
    color: white !important;
}

.modal.open {
    display: flex;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-fadein ease 0.5s;
}

.modal-closebtn {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    opacity: 0.9;
}

.modal-closebtn:hover {
    cursor: pointer;
    background-color: #ccc;
    opacity: 1;
    color: black;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.modal-header i {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-body label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#buyticket {
    width: 100%;
    padding: 18px;
    color: white;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
}

#buyticket:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}


#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}  

#nav li {
    display: inline-block;
    line-height: 46px;
    padding: 0 24px;
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav li:hover {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav li {
    display: block;
    padding: 8px 16px 8px 16px;
    line-height: 1.5;
}

#nav .subnav li a {
    color: black;
    display: block;
}

#nav li a {
    text-decoration: none;
    color: white;
}

#nav .downarrow {
    font-size: 12px;
}
#header .menu-icon,
#header .searchicon {
    color: white
}

#header .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu,
#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 23px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu:hover {
    background-color: #ccc;
}

#header .mobile-menu:hover .menu-icon {
    color: black;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px black;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-description{
    font-size: 15px;
    font-weight: bolder;
}

#container {

}

#content .content-section {
    width: 800px;
    max-width: 100%;;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content {
 
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

#content .section-subheading {
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.7;
    text-align: center;
}

#content .about {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    width: 105%;
    transform: translateX(-2.5%);
}

#content .member-item1 {
    border-radius: 5px;
    margin: 58px 2.5% 0px 2.5%;
    float: left;
    position: relative;
    padding-top: 20%;
    width: 20%;
    text-align: center;
    background: url('../img/member/member1.jpg') top center / cover no-repeat;
}

#content .member-item2 {
    border-radius: 5px;
    margin: 58px 2.5% 0px 2.5%;
    float: left;
    position: relative;
    padding-top: 20%;
    width: 20%;
    text-align: center;
    background: url('../img/member/member2.jpg') top center / cover no-repeat;
}

#content .member-item3 {
    border-radius: 5px;
    margin: 58px 2.5% 0px 2.5%;
    float: left;
    position: relative;
    padding-top: 20%;
    width: 20%;
    text-align: center;
    background: url('../img/member/member3.jpg') top center / cover no-repeat;
}

#content .member-item4 {
    border-radius: 5px;
    margin: 58px 2.5% 0px 2.5%;
    float: left;
    position: relative;
    padding-top: 20%;
    width: 20%;
    text-align: center;
    background: url('../img/member/member4.jpg') top center / cover no-repeat;
}

#content .member-name {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 100%;
}

.tour-section {
    background-color: black;
}

.ticket-list {
    background-color: white;
    margin-top: 40px;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px #ddd solid;
    color: #757575;
    list-style: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buybtn {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buybtn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    display: inline-block;
    width: 30px;
}

.contact-form{
    font-size: 15px;
}

.form-control {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.form-submit {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 16px;
    float: right;
    font-size: 16px;
    -webkit-appearance: none;
}

.form-submit:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.social {
    font-size: 24px;
}

#footer .social a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

#footer .social a:hover {
    opacity: 0.3;
}

.copyright {
    margin-top: 15px;
    color: black;
    opacity: 0.6;
}

#footer .copyright a {
    color: black;
    opacity: 0.7;
}

@keyframes modal-fadein {
    from {
        opacity: 0.5;
        transform: translateY(-150px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
